@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Source+Sans+Pro:wght@400;700&display=swap');

.parallax {
  position: relative;
  height: 0;
  padding-bottom: 54.6%; /* 809/1482 = 0.546 */
  overflow: hidden;
  top: -100px;
  
  @media (max-width: 768px) {
    top: -60px;
    padding-bottom: 70%; /* Adjust aspect ratio for mobile */
  }
}

.parallax:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('/public/Images/back.jpg');
  background-color: #1A1A1A;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -1;
  
  @media (max-width: 768px) {
    background-attachment: scroll;
  }
}

.parallaxContent {
  position: absolute;
  max-width: 35.0625rem; /* 561px in rem */
  max-height: 24.9375rem; /* 399px in rem */
  top: 48%;
  left: 0;
  transform: translateY(-50%); /* Center vertically */
  color: white; /* Ensure text color is white */
  text-align: left; /* Align text to the left */
  padding: 1rem;
  margin-left: 5rem; /* 80px in rem */
  box-sizing: border-box; /* Ensures padding and border are included in the size */
}


.subheading {
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #BDD1F5;
  margin-bottom: 1rem;
  text-align: left; /* Add this line */
}

.heading {
  font-size: 1.9rem;
  font-weight: 600;
  line-height: 1.2;
  margin-bottom: 1.5rem;
  color: white;
  text-align: left; /* Changed from align-items to text-align */
}


.parallaxContent p {
  color: #FFF;
  font-family: 'Inter', sans-serif;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5rem;
  margin-bottom: 2.125rem; /* Space below the paragraph */
  text-align: left; /* Align paragraph to the left */
}

.logoSection {
  overflow: hidden; /* Hide overflow */
  white-space: nowrap; /* Prevent line breaks */
  width: 100%;
  margin-top: 39.125rem;
}

.logoContainer {
  display: inline-block; /* Allows horizontal scrolling */
  animation: scroll 19s linear infinite; /* Animation for auto-scrolling */
}

.logoContainer img {
  margin-top: 50px;
  height: 2.1rem; /* Adjust height as needed */
  margin: 0 3rem; /* Space between logos */
}



@keyframes scroll {
  0% {
    transform: translateX(100%); /* Start off-screen to the right */
  }
  100% {
    transform: translateX(-100%); /* Move to off-screen to the left */
  }
}

.contactButton {
  display: flex;
  font-size: 1rem;
  width: 11.8125rem; /* Width in rem */
  height: 2.9375rem; /* Height in rem */
  padding: 0.2875rem 3rem; /* Padding in rem */
  justify-content: center;
  align-items: center;
  gap: 0.625rem; /* Gap in rem */
  border-radius: 3.125rem; /* Border radius in rem */
  border: 2px solid #BDD1F5; /* Border color */
  background-color: transparent; /* Background color */
  color: #BDD1F5; /* Text color */
  cursor: pointer; /* Change cursor on hover */
  transition: background-color 0.3s; /* Transition for hover effect */
}

.contactButton:hover {
  background-color: rgba(189, 209, 245, 0.2); /* Slight background change on hover */
}


