.container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

/* Hero Section */
.heroSection {
  margin-top: -100px;
  background-image: url('/public/Images/book-lot.jpg'); /* Add the path to your image */
  background-size: cover;
  background-position: center;
  height: 350px; /* Adjust height as needed */
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgb(255, 255, 255);
  text-align: center;
}

.heroText {
  font-size: 48px; /* Adjust font size as needed */
  font-weight: bold;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Add shadow for better readability */
}
.contentContainer {
  flex: 1;
}

.termsAndConditionsContent {
  max-width: 1200px;
  margin: 0 auto;
}

.termsAndConditionsHtml {
  line-height: 1.6;
}

.loading, .errorMessage {
  text-align: center;
  padding: 2rem;
  font-size: 1.2rem;
}