/* bookingpopup.module.css */
.popupOverlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.popupContent {
  position: relative; /* Add this to position the close button */
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  max-width: 500px;
  width: 100%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  font-family: Arial, sans-serif;
  font-size: 14px;
}

h3 {
  text-align: center;
  margin-bottom: 15px;
  font-size: 18px;
}

.popupContent p {
  margin: 8px 0;
  text-align: left;
}

.popupContent strong {
  font-weight: bold;
}

.popupButtons {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.popupButtons {
  display: flex;
  justify-content: flex-end;  /* Aligns buttons to the right */
}

.confirmButton {
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  font-size: 14px;
  border-radius: 5px;
  transition: background-color 0.3s ease;
  background-color: #4caf50;
  color: white;
}


.confirmButton:hover {
  background-color: #45a049;
}

.closeButton {
  position: absolute;
  top: 10px;
  right: 10px;  
  background: none;
  border: none;
  font-size: 20px;
  color: #333;
  cursor: pointer;
}

.closeButton:hover {
  color: #f44336;
}

